.settings-list {
  margin: 20px 0px;
}

.settings-setting {
  display: flex;
  align-items: center;
  padding: 25px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  justify-content: space-between;
}

.settings-setting i {
  font-size: 25px;
  margin-right: 20px;
}

.settings-setting:nth-child(3) {
  border-bottom: none;
}

.second-screen .settings-setting:last-child {
  padding-bottom: 80px;
}

.settings-column {
  display: flex;
  align-items: center;
}

.settings-column .badge {
  font-size: 15px;
  margin-left: 10px;
}

.settings-divider {
  width: 100vh;
  height: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#setting-info {
  color: rgba(0, 0, 0, 0.4);
}
