.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 10px;
}

.screen-header_title {
  font-weight: 600;
  font-size: 30px;
}

.screen-header_icons span {
  padding-left: 20px;
  font-size: 10px;
}
